.forecast img {
  width: 30%;
}

.forecast .row {
  background-color: hsla(0, 0%, 100%, 0.637);
  padding: 15px;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

.forecast p {
  font-size: 1.55em;
  margin-bottom: 0px;
  font-weight: 600;
}
